<div layout="column" id="container" flex>
  <div id="header" ng-include="'/app/components/header/header.html'"></div>
  <div id="content" flex layout="column">
    <div flex>
      <md-toolbar md-theme="blue" class="">
        <div class="md-toolbar-tools">
          <h2 class="md-flex breadcrumbs">
            <a href="#/join">Cadastrar-se</a>
          </h2>
          <span flex></span>
          <md-input-container md-theme="blue" class="md-hue-1" md-no-float id="search-group-holder">
            <input ng-model="user.address2" placeholder="Buscar">
          </md-input-container>
          <md-button class="md-icon-button" aria-label="Search">
            <md-icon md-svg-icon="search" style="color: white;"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-content>
        <div flex layout="row">
          <div flex="50" offset="25" layout="row">
            <div flex>
              <md-input-container flex>
                <label>E-mail (obrigatório)</label>
                <input ng-model="user.email" ng-required="true">
              </md-input-container>
            </div>
            <div flex>
              <md-input-container>
                <label>Senha</label>
                <input ng-model="user.password" ng-required="true">
              </md-input-container>
            </div>
          </div>
        </div>
      </md-content>
    </div>
    <div id="footer" ng-include="'/app/components/footer/footer.html'"></div>
  </div>
</div>
